{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Enrichment Viewer</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'functional/css/style.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12707805-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-12707805-4');
        </script>
    </head>
    <body>
        <div id="drug_table">
            <div id="header">
                <a href="https://paccanarolab.org"><img id="paccanarolab_logo" src="{% static 'functional/images/PaccanaroLab.png' %}" alt=""/></a>
                <a href="https://emap.fgv.br/"><img src="{% static 'functional/images/FGV-EMAp.png' %}" alt=""/></a>
                <a href="https://royalholloway.ac.uk"><img src="{% static 'functional/images/RHUL.jpg' %}" alt=""/></a>
                <hr>
            </div>
            <h1>Human functional modules for drug repurposing against SARS-CoV-2</h1>
            <h2>
                <a href="https://torresmateo.com">Mateo Torres</a>, 
                <a href="https://www.ime.usp.br/~suzana/">Suzana Santos</a>, 
                <a href="https://diegogalpy.github.io/">Diego Galeano</a>, 
                <a href="https://www.linkedin.com/in/mar%C3%ADa-del-mar-s%C3%A1nchez-rojas-3b21738b/">María del Mar Sánchez</a>, 
                <a href="http://www.cs.rhul.ac.uk/home/alberto/">Alberto Paccanaro</a>
            </h2>
            <!--time datetime="2020-06-06">June 6, 2020</time-->
            <p>
            
                We present FDA approved drugs and their targets in the context of human functional modules
                containing 
                <a href="https://www.nature.com/articles/s41586-020-2286-9">SARS-CoV-2 host proteins</a> [1] – these are 332 human
                proteins that have been experimentally identified to bind to viral proteins during infection.
            </p>
            <h3>What we did:</h3>
            <ol>
                <li>
                    We predicted functional similarities between proteins by combining five types of
                    experimental interactions (neighborhood, coexpression, experiments, database, textmining) from the 
                    <a href="http://string-db.org/">STRING</a> database [2] together with information from
                    <a href="http://www.ebi.ac.uk/interpro/">InterPro</a> [3].
                </li>
                <li>
                    We then created a human functional interactome, where each node is a protein and two proteins
                    are connected if they are predicted to be functionally related.
                </li>
                <li>
                    We identified functionally coherent modules by clustering this network using
                    <a href="https://paccanarolab.org/cluster-one">ClusterONE</a> [4].
                </li>
                <li>
                    Finally, we selected functional modules that include at least one SARS-CoV-2 host protein and one
                    drug target retrieved from <a href="">DrugBank</a> [5].
                </li>
            </ol>
            <p>
                Selecting a drug from the list below will take you to a page containing the functional modules that
                are hit by that drug and contain at least one SARS-CoV-2 host proteins.
            </p>
            <h3>For each functional module we include:</h3>
            <ol type="a">
                <li>
                    A list of drugs that target proteins in the same module with their respective ATC categories.
                </li>
                <li>
                    <a href="https://clue.io/cmap">Connectivity Map</a> scores for each drug from the Broad Institute [6] when available.
                </li>
                <li>
                    For each drug, information on whether it is currently on clinical trials from 
                    <a href="https://clinicaltrials.gov/ct2/results?cond=COVID-19">ClinicalTrials.gov</a>
                    when this is available.
                </li>
                <li>
                    GO functional enrichment for every predicted module, calculated using 
                    <a href="https://amp.pharm.mssm.edu/Enrichr/">Enrichr</a> [7].
                </li>
            </ol>
            
            <h3 id="references">References</h3>
            
            <div class="csl-bib-body" style="line-height: 2; ">
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">1.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Gordon, D. E. <i>et al.</i> A SARS-CoV-2 protein interaction map reveals targets for drug repurposing. <i>Nature</i> 1–13 (2020) doi:<a href="https://doi.org/10.1038/s41586-020-2286-9">10.1038/s41586-020-2286-9</a>.</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">2.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Szklarczyk, D. <i>et al.</i> STRING v11: protein–protein association networks with increased coverage, supporting functional discovery in genome-wide experimental datasets. <i>Nucleic Acids Res</i> <b>47</b>, D607–D613 (2019).</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">3.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Mitchell, A. L. <i>et al.</i> InterPro in 2019: improving coverage, classification and access to protein sequence annotations. <i>Nucleic Acids Res</i> <b>47</b>, D351–D360 (2019).</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">4.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Nepusz, T., Yu, H. &amp; Paccanaro, A. Detecting overlapping protein complexes in protein-protein interaction networks. <i>Nature Methods</i> <b>9</b>, 471–472 (2012).</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">5.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Wishart, D. S. <i>et al.</i> DrugBank 5.0: a major update to the DrugBank database for 2018. <i>Nucleic Acids Res</i> <b>46</b>, D1074–D1082 (2018).</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">6.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Subramanian, A. <i>et al.</i> A Next Generation Connectivity Map: L1000 Platform and the First 1,000,000 Profiles. <i>Cell</i> <b>171</b>, 1437-1452.e17 (2017).</div>
              </div>
              <div class="csl-entry" style="clear: left; ">
                <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 1em;">7.</div><div class="csl-right-inline" style="margin: 0 .4em 0 1.5em;">Kuleshov, M. V. <i>et al.</i> Enrichr: a comprehensive gene set enrichment analysis web server 2016 update. <i>Nucleic Acids Res</i> <b>44</b>, W90–W97 (2016).</div>
              </div>
            </div>
            <!--p>
                The following list of drugs were linked to 
                <a href="https://www.nature.com/articles/s41586-020-2286-9">
                    SARS-CoV-2 host proteins
                </a> 
                through protein functional modules predicted using the 
                <a href="https://paccanarolab.org/cluster-one">ClusterONE</a>
                algorithm. We hope that putting relevant proteins in a functional 
                context will help experts to visualise the processes involved in
                the mode of action of the virus.
            </p>
            <p>
                We've created a functional protein protein network that combines several interactions 
                from the <a href="http://string-db.org/">STRING</a> database. Then, we identify functionally coherent 
                modules by clustering this network using CluterONE. Finally, we extract functional modules that include
                SARS-CoV-2 host proteins and drug targets (retrieved from <a href="https://www.drugbank.ca/">DrugBank</a>).
            </p> 
            <p>
                The functional modules are displayed alongside
                <a href="https://clue.io/cmap">CMAP</a> scores and 
                data from 
                <a href="https://clinicaltrials.gov/ct2/results?cond=COVID-19">clinical trials</a>
                when these are available. Additionally, a GO functional enrichment for every predicted
                module is provided (calculated using 
                <a href="https://amp.pharm.mssm.edu/Enrichr/">Enrichr</a>)
            </p-->
            <hr>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for drugs" title="Type in a name">
            <div id="drugs" class="table">
             <div class="row"><div class="cell">Copper (DB09130)</div><a href="{% url 'func_view' 'DB09130' %}" class="cell">17 modules</a></div>
             <div class="row"><div class="cell">Fostamatinib (DB12010)</div><a href="{% url 'func_view' 'DB12010' %}" class="cell">14 modules</a></div>
             <div class="row"><div class="cell">NADH (DB00157)</div><a href="{% url 'func_view' 'DB00157' %}" class="cell">14 modules</a></div>
             <div class="row"><div class="cell">Flavin adenine dinucleotide (DB03147)</div><a href="{% url 'func_view' 'DB03147' %}" class="cell">10 modules</a></div>
             <div class="row"><div class="cell">Cannabidiol (DB09061)</div><a href="{% url 'func_view' 'DB09061' %}" class="cell">9 modules</a></div>
             <div class="row"><div class="cell">Zinc (DB01593)</div><a href="{% url 'func_view' 'DB01593' %}" class="cell">8 modules</a></div>
             <div class="row"><div class="cell">Resveratrol (DB02709)</div><a href="{% url 'func_view' 'DB02709' %}" class="cell">8 modules</a></div>
             <div class="row"><div class="cell">Zinc acetate (DB14487)</div><a href="{% url 'func_view' 'DB14487' %}" class="cell">7 modules</a></div>
             <div class="row"><div class="cell">Zinc chloride (DB14533)</div><a href="{% url 'func_view' 'DB14533' %}" class="cell">7 modules</a></div>
             <div class="row"><div class="cell">Sulfasalazine (DB00795)</div><a href="{% url 'func_view' 'DB00795' %}" class="cell">7 modules</a></div>
             <div class="row"><div class="cell">Valproic acid (DB00313)</div><a href="{% url 'func_view' 'DB00313' %}" class="cell">6 modules</a></div>
             <div class="row"><div class="cell">Acetylsalicylic acid (DB00945)</div><a href="{% url 'func_view' 'DB00945' %}" class="cell">5 modules</a></div>
             <div class="row"><div class="cell">Glycerin (DB09462)</div><a href="{% url 'func_view' 'DB09462' %}" class="cell">5 modules</a></div>
             <div class="row"><div class="cell">Pyridoxal phosphate (DB00114)</div><a href="{% url 'func_view' 'DB00114' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Dexibuprofen (DB09213)</div><a href="{% url 'func_view' 'DB09213' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Glyburide (DB01016)</div><a href="{% url 'func_view' 'DB01016' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Icosapent (DB00159)</div><a href="{% url 'func_view' 'DB00159' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Omega-3-carboxylic acids (DB09568)</div><a href="{% url 'func_view' 'DB09568' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Trimetazidine (DB09069)</div><a href="{% url 'func_view' 'DB09069' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Albendazole (DB00518)</div><a href="{% url 'func_view' 'DB00518' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Mebendazole (DB00643)</div><a href="{% url 'func_view' 'DB00643' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Romidepsin (DB06176)</div><a href="{% url 'func_view' 'DB06176' %}" class="cell">4 modules</a></div>
             <div class="row"><div class="cell">Glutamic acid (DB00142)</div><a href="{% url 'func_view' 'DB00142' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Theophylline (DB00277)</div><a href="{% url 'func_view' 'DB00277' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Mesalazine (DB00244)</div><a href="{% url 'func_view' 'DB00244' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Ibuprofen (DB01050)</div><a href="{% url 'func_view' 'DB01050' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Antithymocyte immunoglobulin (rabbit) (DB00098)</div><a href="{% url 'func_view' 'DB00098' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Ademetionine (DB00118)</div><a href="{% url 'func_view' 'DB00118' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Triflusal (DB08814)</div><a href="{% url 'func_view' 'DB08814' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Cysteine (DB00151)</div><a href="{% url 'func_view' 'DB00151' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Pravastatin (DB00175)</div><a href="{% url 'func_view' 'DB00175' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Lovastatin (DB00227)</div><a href="{% url 'func_view' 'DB00227' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Simvastatin (DB00641)</div><a href="{% url 'func_view' 'DB00641' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Atorvastatin (DB01076)</div><a href="{% url 'func_view' 'DB01076' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Fluvastatin (DB01095)</div><a href="{% url 'func_view' 'DB01095' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Abciximab (DB00054)</div><a href="{% url 'func_view' 'DB00054' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Eptifibatide (DB00063)</div><a href="{% url 'func_view' 'DB00063' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Levothyroxine (DB00451)</div><a href="{% url 'func_view' 'DB00451' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Levocarnitine (DB00583)</div><a href="{% url 'func_view' 'DB00583' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tirofiban (DB00775)</div><a href="{% url 'func_view' 'DB00775' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Acetaminophen (DB00316)</div><a href="{% url 'func_view' 'DB00316' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Indomethacin (DB00328)</div><a href="{% url 'func_view' 'DB00328' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Minoxidil (DB00350)</div><a href="{% url 'func_view' 'DB00350' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Nabumetone (DB00461)</div><a href="{% url 'func_view' 'DB00461' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Ketorolac (DB00465)</div><a href="{% url 'func_view' 'DB00465' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tenoxicam (DB00469)</div><a href="{% url 'func_view' 'DB00469' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tolmetin (DB00500)</div><a href="{% url 'func_view' 'DB00500' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Vincristine (DB00541)</div><a href="{% url 'func_view' 'DB00541' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Piroxicam (DB00554)</div><a href="{% url 'func_view' 'DB00554' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Fenoprofen (DB00573)</div><a href="{% url 'func_view' 'DB00573' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Diclofenac (DB00586)</div><a href="{% url 'func_view' 'DB00586' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Sulindac (DB00605)</div><a href="{% url 'func_view' 'DB00605' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Diethylcarbamazine (DB00711)</div><a href="{% url 'func_view' 'DB00711' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Flurbiprofen (DB00712)</div><a href="{% url 'func_view' 'DB00712' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Etodolac (DB00749)</div><a href="{% url 'func_view' 'DB00749' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Mefenamic acid (DB00784)</div><a href="{% url 'func_view' 'DB00784' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Naproxen (DB00788)</div><a href="{% url 'func_view' 'DB00788' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Ribavirin (DB00811)</div><a href="{% url 'func_view' 'DB00811' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Phenylbutazone (DB00812)</div><a href="{% url 'func_view' 'DB00812' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Meloxicam (DB00814)</div><a href="{% url 'func_view' 'DB00814' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Carprofen (DB00821)</div><a href="{% url 'func_view' 'DB00821' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Diflunisal (DB00861)</div><a href="{% url 'func_view' 'DB00861' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Suprofen (DB00870)</div><a href="{% url 'func_view' 'DB00870' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Salicylic acid (DB00936)</div><a href="{% url 'func_view' 'DB00936' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Meclofenamic acid (DB00939)</div><a href="{% url 'func_view' 'DB00939' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Bromfenac (DB00963)</div><a href="{% url 'func_view' 'DB00963' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Oxaprozin (DB00991)</div><a href="{% url 'func_view' 'DB00991' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Ketoprofen (DB01009)</div><a href="{% url 'func_view' 'DB01009' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Balsalazide (DB01014)</div><a href="{% url 'func_view' 'DB01014' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Perhexiline (DB01074)</div><a href="{% url 'func_view' 'DB01074' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Podofilox (DB01179)</div><a href="{% url 'func_view' 'DB01179' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Aminophylline (DB01223)</div><a href="{% url 'func_view' 'DB01223' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Lumiracoxib (DB01283)</div><a href="{% url 'func_view' 'DB01283' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Oxtriphylline (DB01303)</div><a href="{% url 'func_view' 'DB01303' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Salsalate (DB01399)</div><a href="{% url 'func_view' 'DB01399' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Choline magnesium trisalicylate (DB01401)</div><a href="{% url 'func_view' 'DB01401' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Antrafenine (DB01419)</div><a href="{% url 'func_view' 'DB01419' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Antipyrine (DB01435)</div><a href="{% url 'func_view' 'DB01435' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tiaprofenic acid (DB01600)</div><a href="{% url 'func_view' 'DB01600' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Flufenamic acid (DB02266)</div><a href="{% url 'func_view' 'DB02266' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Vorinostat (DB02546)</div><a href="{% url 'func_view' 'DB02546' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Metamizole (DB04817)</div><a href="{% url 'func_view' 'DB04817' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Lornoxicam (DB06725)</div><a href="{% url 'func_view' 'DB06725' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Aceclofenac (DB06736)</div><a href="{% url 'func_view' 'DB06736' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Cabazitaxel (DB06772)</div><a href="{% url 'func_view' 'DB06772' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Nepafenac (DB06802)</div><a href="{% url 'func_view' 'DB06802' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tixocortol (DB09091)</div><a href="{% url 'func_view' 'DB09091' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Loxoprofen (DB09212)</div><a href="{% url 'func_view' 'DB09212' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Tolfenamic acid (DB09216)</div><a href="{% url 'func_view' 'DB09216' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Phenyl salicylate (DB11071)</div><a href="{% url 'func_view' 'DB11071' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Trolamine salicylate (DB11079)</div><a href="{% url 'func_view' 'DB11079' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Menthyl salicylate (DB11201)</div><a href="{% url 'func_view' 'DB11201' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Glycol salicylate (DB11323)</div><a href="{% url 'func_view' 'DB11323' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Bufexamac (DB13346)</div><a href="{% url 'func_view' 'DB13346' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Bendazac (DB13501)</div><a href="{% url 'func_view' 'DB13501' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Acemetacin (DB13783)</div><a href="{% url 'func_view' 'DB13783' %}" class="cell">3 modules</a></div>
             <div class="row"><div class="cell">Glutathione (DB00143)</div><a href="{% url 'func_view' 'DB00143' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Glycine (DB00145)</div><a href="{% url 'func_view' 'DB00145' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Drotrecogin alfa (DB00055)</div><a href="{% url 'func_view' 'DB00055' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Ascorbic acid (DB00126)</div><a href="{% url 'func_view' 'DB00126' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Zonisamide (DB00909)</div><a href="{% url 'func_view' 'DB00909' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Acetylcysteine (DB06151)</div><a href="{% url 'func_view' 'DB06151' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Antihemophilic factor, human recombinant (DB00025)</div><a href="{% url 'func_view' 'DB00025' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Lonoctocog alfa (DB13998)</div><a href="{% url 'func_view' 'DB13998' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Moroctocog alfa (DB13999)</div><a href="{% url 'func_view' 'DB13999' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Arsenic trioxide (DB01169)</div><a href="{% url 'func_view' 'DB01169' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Troglitazone (DB00197)</div><a href="{% url 'func_view' 'DB00197' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Metamfetamine (DB01577)</div><a href="{% url 'func_view' 'DB01577' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Reserpine (DB00206)</div><a href="{% url 'func_view' 'DB00206' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Procaine (DB00721)</div><a href="{% url 'func_view' 'DB00721' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Palmitic Acid (DB03796)</div><a href="{% url 'func_view' 'DB03796' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Tenecteplase (DB00031)</div><a href="{% url 'func_view' 'DB00031' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Fludarabine (DB01073)</div><a href="{% url 'func_view' 'DB01073' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Citric acid (DB04272)</div><a href="{% url 'func_view' 'DB04272' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Aspartic acid (DB00128)</div><a href="{% url 'func_view' 'DB00128' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Amiloride (DB00594)</div><a href="{% url 'func_view' 'DB00594' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Disulfiram (DB00822)</div><a href="{% url 'func_view' 'DB00822' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Dasatinib (DB01254)</div><a href="{% url 'func_view' 'DB01254' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Vinblastine (DB00570)</div><a href="{% url 'func_view' 'DB00570' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Adenine (DB00173)</div><a href="{% url 'func_view' 'DB00173' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Carmustine (DB00262)</div><a href="{% url 'func_view' 'DB00262' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Tolcapone (DB00323)</div><a href="{% url 'func_view' 'DB00323' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Rifabutin (DB00615)</div><a href="{% url 'func_view' 'DB00615' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Minaprine (DB00805)</div><a href="{% url 'func_view' 'DB00805' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Glutathione disulfide (DB03310)</div><a href="{% url 'func_view' 'DB03310' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Nialamide (DB04820)</div><a href="{% url 'func_view' 'DB04820' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Opicapone (DB11632)</div><a href="{% url 'func_view' 'DB11632' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Pemetrexed (DB00642)</div><a href="{% url 'func_view' 'DB00642' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Methyldopa (DB00968)</div><a href="{% url 'func_view' 'DB00968' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Mercaptopurine (DB01033)</div><a href="{% url 'func_view' 'DB01033' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Adenosine phosphate (DB00131)</div><a href="{% url 'func_view' 'DB00131' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Phosphatidyl serine (DB00144)</div><a href="{% url 'func_view' 'DB00144' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Amphetamine (DB00182)</div><a href="{% url 'func_view' 'DB00182' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Carbidopa (DB00190)</div><a href="{% url 'func_view' 'DB00190' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Phentermine (DB00191)</div><a href="{% url 'func_view' 'DB00191' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Mycophenolate mofetil (DB00688)</div><a href="{% url 'func_view' 'DB00688' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Tranylcypromine (DB00752)</div><a href="{% url 'func_view' 'DB00752' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Mycophenolic acid (DB01024)</div><a href="{% url 'func_view' 'DB01024' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Selegiline (DB01037)</div><a href="{% url 'func_view' 'DB01037' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Pioglitazone (DB01132)</div><a href="{% url 'func_view' 'DB01132' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Procarbazine (DB01168)</div><a href="{% url 'func_view' 'DB01168' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Moclobemide (DB01171)</div><a href="{% url 'func_view' 'DB01171' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Isocarboxazid (DB01247)</div><a href="{% url 'func_view' 'DB01247' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Rasagiline (DB01367)</div><a href="{% url 'func_view' 'DB01367' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Probucol (DB01599)</div><a href="{% url 'func_view' 'DB01599' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Pargyline (DB01626)</div><a href="{% url 'func_view' 'DB01626' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Berberine (DB04115)</div><a href="{% url 'func_view' 'DB04115' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Hesperidin (DB04703)</div><a href="{% url 'func_view' 'DB04703' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Nomifensine (DB04821)</div><a href="{% url 'func_view' 'DB04821' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Zimelidine (DB04832)</div><a href="{% url 'func_view' 'DB04832' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Safinamide (DB06654)</div><a href="{% url 'func_view' 'DB06654' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Fingolimod (DB08868)</div><a href="{% url 'func_view' 'DB08868' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Benserazide (DB12783)</div><a href="{% url 'func_view' 'DB12783' %}" class="cell">2 modules</a></div>
             <div class="row"><div class="cell">Methoxyflurane (DB01028)</div><a href="{% url 'func_view' 'DB01028' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Halothane (DB01159)</div><a href="{% url 'func_view' 'DB01159' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Sevoflurane (DB01236)</div><a href="{% url 'func_view' 'DB01236' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Isoflurane (DB00753)</div><a href="{% url 'func_view' 'DB00753' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Desflurane (DB01189)</div><a href="{% url 'func_view' 'DB01189' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Enflurane (DB00228)</div><a href="{% url 'func_view' 'DB00228' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Calcium (DB01373)</div><a href="{% url 'func_view' 'DB01373' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Hydroflumethiazide (DB00774)</div><a href="{% url 'func_view' 'DB00774' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Calcium Citrate (DB11093)</div><a href="{% url 'func_view' 'DB11093' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Calcium Phosphate (DB11348)</div><a href="{% url 'func_view' 'DB11348' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Calcium phosphate dihydrate (DB14481)</div><a href="{% url 'func_view' 'DB14481' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Aminocaproic acid (DB00513)</div><a href="{% url 'func_view' 'DB00513' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Diazoxide (DB01119)</div><a href="{% url 'func_view' 'DB01119' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Insulin pork (DB00071)</div><a href="{% url 'func_view' 'DB00071' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Natalizumab (DB00108)</div><a href="{% url 'func_view' 'DB00108' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Trichlormethiazide (DB01021)</div><a href="{% url 'func_view' 'DB01021' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Carvedilol (DB01136)</div><a href="{% url 'func_view' 'DB01136' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Medroxyprogesterone acetate (DB00603)</div><a href="{% url 'func_view' 'DB00603' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Clove oil (DB11338)</div><a href="{% url 'func_view' 'DB11338' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tasonermin (DB11626)</div><a href="{% url 'func_view' 'DB11626' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Urokinase (DB00013)</div><a href="{% url 'func_view' 'DB00013' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Iloprost (DB01088)</div><a href="{% url 'func_view' 'DB01088' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Human C1-esterase inhibitor (DB06404)</div><a href="{% url 'func_view' 'DB06404' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Xanthinol (DB09092)</div><a href="{% url 'func_view' 'DB09092' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Conestat alfa (DB09228)</div><a href="{% url 'func_view' 'DB09228' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Collagenase clostridium histolyticum (DB00048)</div><a href="{% url 'func_view' 'DB00048' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Digoxin (DB00390)</div><a href="{% url 'func_view' 'DB00390' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Acetyldigitoxin (DB00511)</div><a href="{% url 'func_view' 'DB00511' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Alendronic acid (DB00630)</div><a href="{% url 'func_view' 'DB00630' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Etacrynic acid (DB00903)</div><a href="{% url 'func_view' 'DB00903' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Deslanoside (DB01078)</div><a href="{% url 'func_view' 'DB01078' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ouabain (DB01092)</div><a href="{% url 'func_view' 'DB01092' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Bretylium (DB01158)</div><a href="{% url 'func_view' 'DB01158' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ciclopirox (DB01188)</div><a href="{% url 'func_view' 'DB01188' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Bepridil (DB01244)</div><a href="{% url 'func_view' 'DB01244' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Potassium cation (DB01345)</div><a href="{% url 'func_view' 'DB01345' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Aluminium (DB01370)</div><a href="{% url 'func_view' 'DB01370' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Magnesium cation (DB01378)</div><a href="{% url 'func_view' 'DB01378' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Digitoxin (DB01396)</div><a href="{% url 'func_view' 'DB01396' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Almitrine (DB01430)</div><a href="{% url 'func_view' 'DB01430' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tinzaparin (DB06822)</div><a href="{% url 'func_view' 'DB06822' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Magnesium acetate (DB13996)</div><a href="{% url 'func_view' 'DB13996' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Potassium acetate (DB14498)</div><a href="{% url 'func_view' 'DB14498' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Potassium sulfate (DB14499)</div><a href="{% url 'func_view' 'DB14499' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Aluminium phosphate (DB14517)</div><a href="{% url 'func_view' 'DB14517' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Aluminum acetate (DB14518)</div><a href="{% url 'func_view' 'DB14518' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Isopropyl alcohol (DB02325)</div><a href="{% url 'func_view' 'DB02325' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Cholic Acid (DB02659)</div><a href="{% url 'func_view' 'DB02659' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Vedolizumab (DB09033)</div><a href="{% url 'func_view' 'DB09033' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tenapanor (DB11761)</div><a href="{% url 'func_view' 'DB11761' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Vonicog Alfa (DB12872)</div><a href="{% url 'func_view' 'DB12872' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Von Willebrand Factor Human (DB13133)</div><a href="{% url 'func_view' 'DB13133' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Alteplase (DB00009)</div><a href="{% url 'func_view' 'DB00009' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Reteplase (DB00015)</div><a href="{% url 'func_view' 'DB00015' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Anistreplase (DB00029)</div><a href="{% url 'func_view' 'DB00029' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Cladribine (DB00242)</div><a href="{% url 'func_view' 'DB00242' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Clofarabine (DB00631)</div><a href="{% url 'func_view' 'DB00631' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Dacarbazine (DB00851)</div><a href="{% url 'func_view' 'DB00851' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Nelarabine (DB01280)</div><a href="{% url 'func_view' 'DB01280' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Bortezomib (DB00188)</div><a href="{% url 'func_view' 'DB00188' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Rosiglitazone (DB00412)</div><a href="{% url 'func_view' 'DB00412' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Bacitracin (DB00626)</div><a href="{% url 'func_view' 'DB00626' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Azacitidine (DB00928)</div><a href="{% url 'func_view' 'DB00928' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Procainamide (DB01035)</div><a href="{% url 'func_view' 'DB01035' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Etidronic acid (DB01077)</div><a href="{% url 'func_view' 'DB01077' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Flucytosine (DB01099)</div><a href="{% url 'func_view' 'DB01099' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tiludronic acid (DB01133)</div><a href="{% url 'func_view' 'DB01133' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Decitabine (DB01262)</div><a href="{% url 'func_view' 'DB01262' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Omacetaxine mepesuccinate (DB04865)</div><a href="{% url 'func_view' 'DB04865' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Gallium nitrate (DB05260)</div><a href="{% url 'func_view' 'DB05260' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Hyaluronic acid (DB08818)</div><a href="{% url 'func_view' 'DB08818' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Carfilzomib (DB08889)</div><a href="{% url 'func_view' 'DB08889' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ubidecarenone (DB09270)</div><a href="{% url 'func_view' 'DB09270' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Thimerosal (DB11590)</div><a href="{% url 'func_view' 'DB11590' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Hydroxocobalamin (DB00200)</div><a href="{% url 'func_view' 'DB00200' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Metformin (DB00331)</div><a href="{% url 'func_view' 'DB00331' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ezetimibe (DB00973)</div><a href="{% url 'func_view' 'DB00973' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Dopamine (DB00988)</div><a href="{% url 'func_view' 'DB00988' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Orlistat (DB01083)</div><a href="{% url 'func_view' 'DB01083' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Fomepizole (DB01213)</div><a href="{% url 'func_view' 'DB01213' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Capsaicin (DB06774)</div><a href="{% url 'func_view' 'DB06774' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Silver (DB12965)</div><a href="{% url 'func_view' 'DB12965' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Iron (DB01592)</div><a href="{% url 'func_view' 'DB01592' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ferrous gluconate (DB14488)</div><a href="{% url 'func_view' 'DB14488' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ferrous succinate (DB14489)</div><a href="{% url 'func_view' 'DB14489' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ferrous ascorbate (DB14490)</div><a href="{% url 'func_view' 'DB14490' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ferrous fumarate (DB14491)</div><a href="{% url 'func_view' 'DB14491' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ferrous glycine sulfate (DB14501)</div><a href="{% url 'func_view' 'DB14501' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Streptokinase (DB00086)</div><a href="{% url 'func_view' 'DB00086' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">L-Glutamine (DB00130)</div><a href="{% url 'func_view' 'DB00130' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Methionine (DB00134)</div><a href="{% url 'func_view' 'DB00134' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tranexamic acid (DB00302)</div><a href="{% url 'func_view' 'DB00302' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Melatonin (DB01065)</div><a href="{% url 'func_view' 'DB01065' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Aprotinin (DB06692)</div><a href="{% url 'func_view' 'DB06692' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Thonzonium (DB09552)</div><a href="{% url 'func_view' 'DB09552' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Cyanocobalamin (DB00115)</div><a href="{% url 'func_view' 'DB00115' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Biotin (DB00121)</div><a href="{% url 'func_view' 'DB00121' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Vinorelbine (DB00361)</div><a href="{% url 'func_view' 'DB00361' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Gemcitabine (DB00441)</div><a href="{% url 'func_view' 'DB00441' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Fluoxetine (DB00472)</div><a href="{% url 'func_view' 'DB00472' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Nedocromil (DB00716)</div><a href="{% url 'func_view' 'DB00716' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Pentamidine (DB00738)</div><a href="{% url 'func_view' 'DB00738' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Roxithromycin (DB00778)</div><a href="{% url 'func_view' 'DB00778' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Azathioprine (DB00993)</div><a href="{% url 'func_view' 'DB00993' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Doxorubicin (DB00997)</div><a href="{% url 'func_view' 'DB00997' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Isoprenaline (DB01064)</div><a href="{% url 'func_view' 'DB01064' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Epoprostenol (DB01240)</div><a href="{% url 'func_view' 'DB01240' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Colchicine (DB01394)</div><a href="{% url 'func_view' 'DB01394' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">5-O-phosphono-alpha-D-ribofuranosyl diphosphate (DB01632)</div><a href="{% url 'func_view' 'DB01632' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Nicotinamide (DB02701)</div><a href="{% url 'func_view' 'DB02701' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Ribostamycin (DB03615)</div><a href="{% url 'func_view' 'DB03615' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Dabrafenib (DB08912)</div><a href="{% url 'func_view' 'DB08912' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Miltefosine (DB09031)</div><a href="{% url 'func_view' 'DB09031' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Tocofersolan (DB11635)</div><a href="{% url 'func_view' 'DB11635' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Vinflunine (DB11641)</div><a href="{% url 'func_view' 'DB11641' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Curcumin (DB11672)</div><a href="{% url 'func_view' 'DB11672' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Avatrombopag (DB11995)</div><a href="{% url 'func_view' 'DB11995' %}" class="cell">1 module</a></div>
             <div class="row"><div class="cell">Telotristat ethyl (DB12095)</div><a href="{% url 'func_view' 'DB12095' %}" class="cell">1 module</a></div>
        </div>
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("drugs");
                tr = table.getElementsByClassName("row");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByClassName("cell")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }
            }
        </script>
    </body>
</html>